#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Use graphical install
graphical

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp 
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$3L.S6bZuuyBnJm1a$9YaNLwZBsq2Yb.piDF2Kc99AeF8UkRTHcDSzMGCbC.z0JhY2BDalvG/krOdnZahbDppUFB7iDcn2sFNhqJmWz/

# System services
services --disabled="chronyd"

# System timezone
timezone America/Sao_Paulo --isUtc --nontp
user --groups=wheel --name=k3t-user --password=$6$wBBNwb7wC7oh6Tuf$mnzptpL6gumDhEMCMz.274vyQcNofpavypFlZ8nEfbY8vHr0nl1KaGFwSguyCQJfEyjVFFXPPTbaSWRKMrDzU. --iscrypted --uid=1000 --gecos="K3T Administrator user" --gid=1000

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information 10G
# Disk partitioning information
part pv.302 --fstype="lvmpv" --ondisk=sda --size=32255
part /boot --fstype="xfs" --ondisk=sda --size=512
volgroup centos --pesize=4096 pv.302
logvol swap --fstype="swap" --size=1024 --name=swap --vgname=centos
logvol / --fstype="xfs" --size=31227 --name=root --vgname=centos
reboot

%packages --ignoremissing --excludedocs
@^minimal
#@core
#kexec-tools

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

%post
yum update -y

yum install -y cloud-init qemu-guest-agent cloud-utils-growpart parted yum-utils htop zip unzip tar jq curl wget nano telnet git python3

systemctl enable qemu-guest-agent
systemctl enable cloud-init

systemctl start qemu-guest-agent
systemctl start cloud-init

mkdir /home/k3t-user/.ssh
echo -e "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDih36iZoYeRyTjUwZI6Ec7UNzRW/498fqW0XCHysTtn5aQSpmrJAiBOWQ4aLWHnswRQaw3fR+hR7OQ9De9pOKe7i6vv35CQlnpeyVmQf0Yw3FYTbbCLi7YBuLPgqp+XMUSG/ugtEivn5ZYV3wjE1C3IETqceH2R8u5qbSuyHlW5DbuYoKyiLo0RXm+2Lpya+qKVV1lHYR04oJKNSN4xYRVngrMNTmOgUpm+1fH8K6NAtYHsTP97MnkAFi2wCgngANJ0HX7BI/zNMxYkH+X+aVuPyy5riRqbzIjCb4a0PBw9mHQExleiIbI+iB5VPqKyQaKEWe6I1O/iNvbjOasDarVroTkgdQM5RuT4mM+EQkB0gjrbtOxA4aV+MKbwdu1SIEu18sYnf/qkts8g27S3/aCWbhkXxvAyhbdHIRUNMtS1BJY/XJgSDz7zFKgBLMdsw9eCCcI8hAbVQSsFVe8vrDUPjPT/5KNLme3xX1E1FSKC4OApMeYTWNDl3wfoQ4zQPM= k3t-user@kode3" >  /home/k3t-user/.ssh/authorized_keys
chown -R k3t-user:k3t-user /home/k3t-user/.ssh
chmod 700 /home/k3t-user/.ssh
chmod 600 /home/k3t-user/.ssh/authorized_keys
echo "k3t-user ALL=(ALL:ALL) NOPASSWD:ALL" > /etc/sudoers.d/k3t-user
chmod 440 /etc/sudoers.d/k3t-user

# set virtual-guest as default profile for tuned
echo "virtual-guest" > /etc/tuned/active_profile

# Because memory is scarce resource in most cloud/virt environments,
# and because this impedes forensics, we are differing from the Fedora
# default of having /tmp on tmpfs.
echo "Disabling tmpfs for /tmp."
systemctl mask tmp.mount

cat <<EOL > /etc/sysconfig/kernel
# UPDATEDEFAULT specifies if new-kernel-pkg should make
# new kernels the default
UPDATEDEFAULT=yes

# DEFAULTKERNEL specifies the default kernel package type
DEFAULTKERNEL=kernel
EOL

# make sure firstboot doesn't start
echo "RUN_FIRSTBOOT=NO" > /etc/sysconfig/firstboot

echo "Fixing SELinux contexts."
touch /var/log/cron
touch /var/log/boot.log
mkdir -p /var/cache/yum
/usr/sbin/fixfiles -R -a restore

yum -y remove firewalld

# sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

# Install new Kernel
rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
rpm -Uvh https://www.elrepo.org/elrepo-release-7.0-3.el7.elrepo.noarch.rpm
# Long Term Suport Kernel
yum --enablerepo=elrepo-kernel install kernel-lt kernel-lt-headers -y
# mainline release
# yum --enablerepo=elrepo-kernel install kernel-ml -y

# Update grub
# sed -i 's/saved/0/g' /etc/default/grub
grub2-set-default 0
grub2-mkconfig -o /boot/grub2/grub.cfg

yum clean all
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end